version: '3.9'

services:
  web:
    build: .
    container_name: alacenapp_front
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - FLASK_ENV=development
    volumes:
      - .:/app

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: alacenapp
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
