.layout {
    display: flex;         /* Sidebar + contenido en fila */
    height: 100vh;         /* Ocupa toda la pantalla */
}

/* Barra lateral a la izquierda */
.sidebar {
    width: 250px;
    background-color: #3b7a52;
    color: white;
    padding: 20px;
}

.sidebar h2{
    text-align: center;
    color: #FFFCF8;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px; /* separa los li */
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar li {
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    padding: 5px 20px;
    font-size: 2rem;
    background-color: #FFFCF8;
    color: #3B7A52;
}



/* Elementos a la derecha */
.main-container {
    flex: 1;                /* ocupa el espacio restante */
    display: flex;
    flex-direction: column; /* header arriba + dashboard abajo */
    color: #fffcf8;
}

.top-header {
    height: 60px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between; /* separa título y botón salir */
    
    padding: 0 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);

    width: 100%;            /* se ajusta SOLO al ancho del main-container */
    box-sizing: border-box; /* evita que el padding lo haga más ancho */
}

.top-header h3 {
    color: #fff !important;
}

.info-usuario,
.btn-salir {
    background-color: #3B7A52;
    color: #FFFCF8;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    padding: 20px;
}

/* Área del dashboard */
.dashboard {
    flex: 1;               /* Ocupa el espacio restante */
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /* separación entre columnas */
}

/* ---- COLUMNAS ----- */
.left-column,
.right-column {
  display: flex;
  flex: 1;
  flex-direction: column; /* pone las tarjetas una debajo de la otra */
  gap: 20px;              /* espacio entre tarjetas */
}

/* ----- TARJETAS PRINCIPALES ----- */
.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    height: 180px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.panel-container h3 {
    color: #fff !important;
}

.numero {
    flex: 1;                  /* Ocupa todo el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;          /* Ajustá el tamaño a gusto */
    font-weight: bold;
    margin: 0;                /* Evita espacio hacia arriba */
}

.productos-total{
    background-color: #a0c9aa;
}

.productos-vencimiento{
    background-color: #C86526;
}

.productos-agotados{
    background-color: #699132;
}

.lista-sugerida{
    background-color: #B1CB51;
}

